html {
    scroll-behavior: smooth;
    scroll-padding-top:10vw;
}
#bodyconfig {
    background-image: linear-gradient(rgb(17, 17, 17),rgb(10, 10, 10));
}
body {
    font-family: Arial, Helvetica, sans-serif;
}   

#ColtFields {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(236, 0, 0);
    text-align:center;
    font-size:10vw;
    margin-top:14vw;
}

#header2 {
    color:rgb(255, 255, 255);
    text-align:center;
    font-size: medium;
    margin:0 20%;
    text-shadow: 0px 0px 6px rgb(255, 0,0,);
    margin-top:5%;
}
#header3{
    font-size:200%;
    color:rgb(255, 255, 255);
}
#aboutme { 
    margin-right: 5%;
    margin-left: 5%;
    font-size: 120%;
    color:rgb(255, 255, 255);
}
#aboutmesection {
    border: 10px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin-right: 23%;
    margin-left: 23%;
    box-shadow: 0px 0px 6px 2px rgb(255, 11, 11);
}
.center {
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 0px 0px 8px rgb(255, 0, 0)
}

.topbuttons {
    justify-self: center;
    border:3px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px red;
    background-color: rgb(206, 3, 3);
    padding: 1vw 1vw;
    font-weight: 800;
    background: linear-gradient(-140deg, rgb(255, 0, 0), rgb(255, 60, 0), red, rgb(255, 60, 0), red )
}   

#projects {
    color:rgb(0, 0, 0);
    margin-top: 50%;
    text-align: center;
}

.projectheaders {
    text-shadow: 0px 0px 8px rgb(255, 0, 0);
    color:rgb(255, 255, 255);
}
#projectstitle {
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 6px rgb(255, 0,0);
}

#skills {
    color: rgb(255, 255, 255);
    margin-top: 50%;
    text-align: center;
}

#skillstitle {
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 6px rgb(255, 0, 0);
}

#contact {
    color: rgb(0, 0, 0);
    margin-top: 60%;
    text-align: center;
    margin-bottom: 10%;
}
#contacttitle {
    font-size: 300%;
        color: rgb(255, 255, 255);
    text-shadow: 0px 0px 6px rgb(255, 0, 0);
}

.textdecor {
    text-decoration: none;
    text-shadow: 0px 0px 8px rgb(255, 166, 0);
    color:rgb(255, 111, 0);
    padding:1%;
}

.projectsex {
    border: 10px solid rgb(255, 255, 255);
    border-radius: 30px;
    display: block; 
    margin-left:20% ;
    margin-right:20% ;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px 3px rgb(255, 0, 0);
}


.images {
    width: 40vw;
    text-align: center;
    margin: 0% auto;
}
.projectheaders {
    font-size:xx-large;
    text-shadow: 0px 0px 5px rgb(255, 0, 0);}

.paragraph {
    text-shadow: 0px 0px 5px rgb(255, 0, 0);
    color:rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 110%;
}

.projbutton {
    margin-bottom: 10px;
}

.projectbutton {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding:2vw 2vw;
    box-shadow:0px 0px 5px 5px rgb(142, 14, 14);
    margin-left:1vw ;
    margin-right:1vw ;
    border:1px solid rgb(255, 255, 255);
    border-radius: 7px;
}
.projectbutton:hover{
    background-color: rgba(255, 255, 255, 0.973);
    box-shadow:0px 0px 5px 5px rgb(124, 0, 0);
    width:16%;
    color: black;
  }

#logo {
    width:50px;
}

.logoC {
    position: absolute;
    left: 10px;
}

#logo:hover {
    width:50px;
    -webkit-filter: drop-shadow(2px 2px 2px darkred )
    drop-shadow(-2px 2px 2px darkred )
    drop-shadow(2px -2px 2px darkred )
    drop-shadow(-2px -2px 2px darkred );
    
    filter: drop-shadow(1px 1px 2px darkred )
    drop-shadow(-1px 1px 2px darkred )
    drop-shadow(1px -1px 2px darkred )
    drop-shadow(-1px -1px 2px darkred );
    
}

#navbar {
    background-color: rgb(0, 0, 0);
    position:fixed;
    width:100%;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#navbar * {
    display: inline;
}

#listofbuttons {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbuttons {
margin: 2vw;
color:rgb(255, 255, 255);
text-decoration: none;
}

.navbuttons:hover {
    margin: 2vw;
    color:rgb(255, 255, 255);
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px darkred)
    drop-shadow(-2px 2px 2px darkred)
    drop-shadow(2px -2px 2px darkred)
    drop-shadow(-2px -2px 2px darkred);
    
    filter: drop-shadow(2px 2px 2px darkred)
    drop-shadow(-2px 2px 2px darkred)
    drop-shadow(2px -2px 2px darkred)
    drop-shadow(-2px -2px 2px darkred);
    }




.glowtrans {
    -webkit-filter: drop-shadow(2px 2px 3px white)
    drop-shadow(-2px 2px 3px white)
    drop-shadow(2px -2px 3px red)
    drop-shadow(-2px -2px 3px red);
    
    filter: drop-shadow(2px 2px 3px white)
    drop-shadow(-2px 2px 3px white)
    drop-shadow(2px -2px 3px white)
    drop-shadow(-2px -2px 3px red);
}  
.glowtransskills {
    padding:5%;
    width: 7%;
    -webkit-filter: drop-shadow(2px 2px 3px white)
    drop-shadow(-2px 2px 3px white)
    drop-shadow(2px -2px 3px white)
    drop-shadow(-2px -2px 3px red);
    
    filter: drop-shadow(2px 2px 2px white)
    drop-shadow(-2px 2px 2px white)
    drop-shadow(2px -2px 2px white)
    drop-shadow(-2px -2px 2px red);
}
.glowtranscontacts {
    width: 5%;
    padding: 1%;
    -webkit-filter: drop-shadow(2px 2px 2px white)
    drop-shadow(-2px 2px 2px white)
    drop-shadow(2px -2px 2px white)
    drop-shadow(-2px -2px 2px white);
    
    filter: drop-shadow(2px 2px 2px white)
    drop-shadow(-2px 2px 2px white)
    drop-shadow(2px -2px 2px white)
    drop-shadow(-2px -2px 2px white);
}
.glowtranscontacts:hover {
    -webkit-filter: drop-shadow(2px 2px 3px red )
    drop-shadow(-2px 2px 3px red)
    drop-shadow(2px -2px 3px red)
    drop-shadow(-2px -2px 3px white);
    
    filter: drop-shadow(1px 1px 1px red)
    drop-shadow(-1px 1px 1px red)
    drop-shadow(1px -1px 1px red)
    drop-shadow(-1px -1px 1px white);
}                      
.textdecor:hover {
    color: rgb(17, 6, 0);
    -webkit-filter: drop-shadow(2px 2px 3px white)
    drop-shadow(-2px 2px 3px white)
    drop-shadow(2px -2px 3px white)
    drop-shadow(-2px -2px 3px white);
    
    filter: drop-shadow(2px 2px 3px white)
    drop-shadow(-2px 2px 3px white)
    drop-shadow(2px -2px 3px white)
    drop-shadow(-2px -2px 3px white);
}

  
  
  
/* phone screen adapt */
@media screen and (max-width: 600px){
    #navbar {
        display:none;
    }
    #header1 {
        text-align:center;
        font-size:15vw;
        margin-top:30vw;
        margin-bottom: 30%;
    }
    .projectsex {
        border-radius: 30px;
        display: block; 
        margin-left:5% ;
        margin-right:5% ;
        margin-bottom: 30px;
    }
    .projectbutton {
        padding:3vw 3vw;
        margin-left:1vw ;
        margin-right:1vw ;
        font-size: x-large;
    }
    #skills {
        margin-top: 500px;
        display: inline-block;
    }
    #contact {
        margin-top: 700px;
        text-align: center;

    }
    .glowtransskills {
        padding:5%;
        width: 20%;
    }
    .glowtranscontacts {
        padding: 5%;
        width: 15%;
    }
    
    .projectbutton:hover{
        width:27%;
      }
    #aboutmesection {
        border-radius: 30px;
        margin-right: 5%;
        margin-left: 5%;
}

    #header2 {
        text-align:center;
        font-size: small;
        margin:0 5%;
        margin-top:20%;
    }
} 